#########################
# HB - node configuration

# NET ###################
hostname=""
ifconfig_""=""
defaultrouter=""
# WIFI ##################
wlans_''=”wlan″
ifconfig_wlan=”WPA DHCP”
# KERN ##################
zfs_enable="YES"
dumpdev="AUTO"
# PF ###################
pf_enable="YES"
pf_rules="/etc/pf.conf"
pflog_enable="YES"
pflog_file="/var/log/pflog"
# NFS ###################
nfs_server_enable="YES"
nfsuserd_enable="YES"
nfsv4_server_enable="YES"
rpcbind_enable="YES"
mountd_enable="YES"
mountd_flags="-r"
nfs_client_enable="YES"
# FTP ###################
ftpd_enable="YES"
ftp_flags"-A -D -4 -l -O"
# OTHER #################
keyrate="fast"
