#########################
# HB - node configuration

# NET ###################
hostname=""
ifconfig_""=""
defaultrouter=""
# KERN ##################
zfs_enable="YES"
dumpdev="AUTO"
# PF ###################
pf_enable="YES"
pf_rules="/etc/pf.conf"
pflog_enable="YES"
pflog_file="/var/log/pflog"
# NFS ###################
nfs_client_enable="YES"
keyrate="fast"
